.participant-list .list-cell:filled {
    -fx-background-color: linear-gradient(to top,
	        -fx-color-bg-0,
	        -fx-color-bg-2
	    );
}

.participant-list .list-cell:selected,
.participant-list:focused .list-cell:selected  {
    -fx-background-color: linear-gradient(to bottom,
		-fx-color-bg-1,
		-fx-color-accent-alt
    );
}

.energy > .bar {
    -fx-background-radius: 0;
    -fx-background-insets: 0;
}

.energy > .track {
   -fx-background-radius: 0;
   -fx-background-insets: 0;
}

.participant-list .scroll-bar:vertical {
	-fx-padding: -7;
	-fx-opacity: 0;
}